

 /* --------Variable CSS-------------- */
 :root{
     --header-height: 3rem;

     /* Colors */
     /* Used to set the browser theme */
     --hue-color: 160; /*Green: 120,  Aqua: 160, Latte: 47  Blue: 240*/
     --hue-color-text: 47;

    /* HSL  */
     --first-color: hsl(var(--hue-color), 100%, 50%);
     --first-color-second: hsl(var(--hue-color), 71%, 37%);
     --first-color-alt: hsl(var(--hue-color), 86%, 58%);
     --first-color-lighter: hsl(var(--hue-color), 87%, 77%);

     /* Text Color */
     --title-color: hsl(var(--hue-color-text), 36%, 80%);
     --text-color: hsl(var(--hue-color-text), 16%, 70%);
     --mainText: hsl(var(--hue-color-text), 18%, 44%);
     --text-color-light: hsl(var(--hue-color-text), 36%, 80%);
     --input-color: hsl(var(--hue-color-text), 16%, 70%);
     --body-color: hsl(var(--hue-color-text), 0%, 100%);
     --container-color: hsl(var(--hue-color-text), 0%, 100%);
     --scroll-bar-color: hsl(var(--hue-color-text), 2%, 61%);
     --scroll-thumb-color: hsl(var(--hue-color-text), 2%, 61%);
     --gradient-color: background: linear-gradient(137deg, rgba(22,22,145,1) 0%, rgba(36,36,237,1) 35%, rgba(82,247,192,1) 100%);

     /* Font & Typograpghy */
     --title-font: 'Arima Madurai', cursive;
     --subtitle-font: 'Merienda', cursive;
     --body-font: 'Montserrat', sans-serif;
     --formal-font: 'Source Code Pro', monospace;

     /* Font Sizes - 1rem = 16px, .5rem = 8px  (For Mobile)*/
     --big-font-size: 2rem;
     --h1-font-size: 1.5rem;
     --h2-font-size: 1.25rem;
     --h3-font-size: 1.125rem;
     --normal-font-size: 14px;
     --small-font-size: 0.813rem;
     --smaller-font-size: 0.75rem;

     /*  Font Weight */
     --font-medium: 500;
     --font-semi-bold:600;
     --font-bold: 700;

     /* Margin Size - Bottom */
     /* .25rem = 4px, .5rem = 8px, 1rem= 16px, .75rem= 12px */
     --mb-0-25: 0.25rem;
     --mb-0-5: 0.5rem;
     --mb-0-75: 0.75rem;
     --mb-1: 1rem;
     --mb-1-25: 1.25rem;
     --mb-1-5: 1.5rem;
     --mb-2: 2rem;
     --mb-2-5: 2.5rem;
     --mb-3: 3rem;

     /* Z-index */

     --z-tooltip: 10;
     --z-fixed: 100;
     --z-modal: 1000;
   }
   
     
     /* Font Sizes - 1rem = 16px, .5rem = 8px  (For Larger Devices)*/
    @media screen and (min-width: 968px) {
        :root{
            --big-font-size: 3rem;
            --h1-font-size: 2.5rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.255rem;
            --normal-font-size: 1rem;
            --small-font-size: 0.875rem;
            --smaller-font-size: 0.813rem;
        }
    }

    /* Dark Theme */
body.dark-theme{
    /* HSL  */
    --first-color: hsl(var(--hue-color), 69%, 58%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --first-color-alt: hsl(var(--hue-color), 55%, 50%);
    --first-color-lighter: hsl(var(--hue-color), 90%, 82%);

    /* Text Color */
    --title-color: hsl(var(--hue-color-text), 10%, 95%);
    --text-color: hsl(var(--hue-color-text), 10%, 75%);
    --mainText: hsl(var(--hue-color-text), 10%, 75%);
    --text-color-light: hsl(var(--hue-color-text), 10%, 65%);
    --input-color: hsl(var(--hue-color-text), 29%, 16%);
    --body-color: hsl(var(--hue-color-text), 30%, 14%);
    --container-color: hsl(var(--hue-color-text), 30%, 16%);
    --scroll-bar-color: hsl(var(--hue-color-text), 10%, 50%);
    --scroll-thumb-color: hsl(var(--hue-color-text), 15%, 32%);
    
}

.moon-change-theme.uil-sun{
    color: white;
}




/* Navigation Buttons Light & Dark Theme */
.nav__btns{
    display: flex;
    align-items: center;
    padding-left: var(--mb-0-5);
    margin: 0;
    margin-top: -5px;
    gap: var(--mb-0-75)
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;


}

.change-theme:hover{
    color: var(--first-color);
}

/* Base */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;

}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
   
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;  
}

img{
    max-width: 100%;
    height: auto;
}

/* Reusable CSS Classes */
.section{
    padding: 2rem 0 4rem;
    margin: auto;
    min-height: 80vh;
}

.section__title{
    font-size: var(--big-font-size);
    font-family: var(--title-font);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle{
    text-align: center;
}

/* Button Styling */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
    color: #FFF;
}

.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button--white{
    background-color: #FFF;
    color: var(--first-color);
}

.button--white:hover{
    background-color: var(--first-color-lighter);
}

/* Layout */
.container{
    margin-right: var(--mb-1);
}

.grind{
    display: grid;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* Navigation Styling */

.nav{
    /* max-width: 968px; */
    height:var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
}

.nav__logo,
.nav__toggle{
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color:var(--first-color);
}

.nav__toggle{
    font-size:var(--h3-font-size);
    cursor: pointer;
    margin-right: 2rem;

}

.nav_toggle:hover{
    color: var(--first-color);
}

.navbar-brand{
    font-family:var(--subtitle-font);
}

@media screen and (max-width: 768px) {
    .nav_menu{
        position: fixed;
        bottom: -100%;
        right: 0;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .5s;
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color:var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
}

/* Show Menu */
.show-menu{
    bottom: 0;
}

/* Active Link */
.active-link{
    color: var(--first-color);
}

/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}